body{
	margin:0px;
	padding:0px;
}

.main-box{
	margin: 20px;
	background: darkgray;
	padding:10px;
	width:840px;
	border-style:solid;
	border-color:red;
}

.list-primary{
	padding:5px;
	color: blue;
	background:#ff00f775;
	width: 200px;
	height: 50px;
	display:inline-block;
	
}

.font-primary{
	margin:auto;

	color:#b40909;
}
.list-round{
	border-radius:20px; 
}
.list-long{
	width:400px;	
}

.font-left{
	margin-left:50px; 
}

.list-block{
	margin-left: 20px;
	width:350px;
	height:214px;
	background:darkgray;
}
#list-blk{
	background:black;
	margin:5px;
	width: 300px;
}

.list-A{
	background:green;
	height: 50px;

	margin:2px;
	border-radius:15px;
	font-size: 30px;

}

form{
	width:300px;
}
input{
	width:100%;
}
textarea{
	resize: vertical;
	max-height:100px;
}

input, textarea{
	outline:none;
	border:1px solid #ddd;
}

input:focus, textarea:focus{
	box-shadow:0 0 4px rgba(255,0,0,0.5 );
	border:1px solid rgba(255,0.0);
}
::placeholder{
	color:grey;
	opacity: 1;
}
:-ms-input-placeholder{
	color: red;
}

::-ms-input-placeholder{
	color: red;
	opacity: 1;
}
